.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10pt;
    padding-block: 10pt;
    /* background-color: bisque; */
}

.About_content h1 {
    margin: 0 !important;
    padding-left: 10pt;
}
.About_content p {
    margin: 0!important;
    padding-inline: 10pt;
}

.ms {
    padding-right: 10pt;
    /* font-size: 16pt;/ */
    text-align: right;
}