.Index ion-card-content {
    padding-inline: 4pt;
    font-size: 5pt;
    color: #A9C46C;
    overflow-y: scroll;
    max-height: 5vh;
}


.Index ion-card-header {
    padding: 5pt;
}

.Index .play {
    margin-top: 5pt;
    padding-right: 5pt;
    text-align: left;
}

.Index .info {
    display: flex;
    color: #A9C46C;
    color: #F4FFC3;
}

.Index .info ion-text {
    margin-left: 5pt;
    font-size: 5pt;
}

.Index .play ion-icon {
    color: #F4FFC3;
    transition: all 25ms ease;

    &:active {
        transform: scale(0.9);
    }
}