/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
  font-family: "DancingScript-VariableFont_wght";
  src: url("/public/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "qtmk";
  src: url("/public/fonts/千图马克手写体.ttf") format("truetype");
}

:root {

  --ion-tab-bar-color-selected: #5d8736ff;
  --ion-text-color: #5d8736ff;
  --ion-color-primary: currentColor;
  /* --ion-background-color: #F4FFC3; */
}

ion-card {
  margin: 0;
  background-color: #5d8736ff;
}

ion-card-title {
  font-size: 12pt;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f4ffc3;
}

ion-card-content {
  color: #f4ffc3;
}

.y-item .item {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  padding-left: 5pt;
  padding-block: 5pt;
}