/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
    font-family: "DancingScript-VariableFont_wght";
    src: url("/public/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "qtmk";
    src: url("/public/fonts/千图马克手写体.ttf") format("truetype");
}

:root {
    font-size: "qtmk";
    --ion-tab-bar-color-selected: #5D8736ff;
    --ion-background-color: #F4FFC3;
}

ion-card {
    margin: 0;
    background-color: #5D8736ff;
}

ion-card-title {
    font-size: 12pt;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #F4FFC3;
}

ion-card-content {
    color: #F4FFC3;
}