.PrediLection ion-grid {
  --ion-grid-columns: 2;
  --ion-grid-column-padding: 5pt;
}

.PrediLection ion-card {
  height: calc(100vw / 2.2);
  margin: 0;
  /* background-color: white; */
}
.PrediLection ion-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PrediLection ion-img {
  width: 50%;
}

.play_history ion-content {
  background-color: rebeccapurple;
}
